.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1.3rem;
}
.logo{
    width: 9rem;
}
.navbar{
    width: 9rem;
}
.listLink{
    display: flex;
    justify-content: space-between;
}
.links{
    font-size: 1rem;
}
.header a:focus{
    text-decoration: underline;
}

@media screen and (min-width:1150px) {
    .header{
        margin: 2rem 6rem;
    }
    .logo{
        width: 15rem;
    }
    .navbar{
        width: 15rem;
    }
    .links{
        font-size: 1.5rem;
        font-weight: 500;
    }
}