.dropdown{
    background: #FF6060;
    border-radius: 5px;
    margin: 1rem auto;
    cursor: pointer;
}
.dropdown-flex{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.dropdown i, .dropdown h2 {
    color: #fff;
    padding: 0 .6rem;
}
.dropdown h2{
    font-weight: 400;
    font-size: 1rem;
    margin:.4rem 0;
}

.dropdown-content{
    background: #F6F6F6;
    cursor: auto;
    padding: .5rem 0 1rem .6rem;
    font-size: .8rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (min-width:750px) {
    .dropdown{
        width: 85%;
    }
    .dropdown i, .dropdown h2{
        font-size: 1.3rem;
    }
    .dropdown-flex{
        padding: 0.3rem 0.7rem;
    }
    .dropdown-content{
        font-size: 1rem;
        height: 100%;
        width: 100%;
        padding: 1.2rem 1.3rem;
    }
}