.main{
    margin: 1rem 1.3rem;
}
.maintitle-bg{
    position: relative;
}
.main-title{
    font-weight: 500;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.282);
    position: absolute;
    top: 0rem;
    margin: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 1.7rem 8.1rem 0 1rem;
    font-size: 1.5rem;
}
.home-bg{
    background: url("./../images/backgroundhome.png") no-repeat 58%;
    background-size: cover;
    height: 7rem;
}
@media screen and (min-width:750px) {
    .main{
        margin: 2rem 6rem;
    }
    .main-title{
        font-size: 2.8rem;
        padding: 7rem;
        text-align: center;
        border-radius: 25px;
    }
    .home-bg{
        background: url("./../images/backgroundhome.png") no-repeat ;
        background-size: cover;
        height: 15rem;
    }
}
