.carousel{
    display: flex;
    overflow: hidden;
    height: 20rem;
    position: relative;
    border-radius: 15px;
}
.carousel img{
    object-fit: cover;
}
.carousel i {
    position: absolute;
    top:50%;
    color: #fff;
    font-size: 2rem;
}
.fa-chevron-left{
    left: 1rem;
}
.fa-chevron-right{
    right:1rem;
}

@media screen and (min-width:750px) {
    .carousel{
        height: 37rem;
    }
    .carousel img{
        width: 100%;
    }
}