.room-profile{
    display: flex;
    width: 20rem;
    margin: 1rem auto 0;
    width: 100%;
    position: relative;
}
.room-profile img{
    width: 100%;
    border-radius: 10px;
}
.room-title{
    position: absolute;
    top: 11.3rem;
    left: 1rem;
    color: #fff;
    font-weight: 500;
}

@media screen and (min-width:750px) {
    .section-appartment{
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-top: 2.5rem;
        padding: 2.5rem;
        background: #F6F6F6;
        justify-content: space-around;
    }
    .section-appartment a{
        width: 30%;
    }
    .room-profile{
        margin-bottom: 1.6rem;
        height: 31rem;
    }
    .room-title{
        top: 28.3rem;
    }
}