.room-title, .room-location{
    font-weight: 500;
    margin: 0;
}
.room-title{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.room-location{
    font-size: 1rem;
    margin: 1rem 0 .4rem 0;
}
.rate-and-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 750px) {
    .profile{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .room-title{
        font-size: 2.3em;
    }
    .room-location{
        font-size: 1.3rem;
    }
    .rate-and-profile{
        flex-direction: column;
        align-items: end;
    }
    .collapse-rooms{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .collapse-rooms .dropdown{
        width: 46%;
        border-radius: 10px;
        margin: 1.5rem 0;
    }
    .collapse-rooms .dropdown h2{
        font-weight: 400;
        font-size: 1.2rem;
    }
}